@font-face {
    font-family: "Larken";
    src:
      local("Larken"),
      url("../fonts/LarkenDEMO-Black.otf") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
}

:root {
    --bg-main: #c37a32;
    --bg-button: #e1903f;
    --hover-button: #FFA64C;
    --secondary-color: #FA5046;
    --blue: #1E90FF;
    --green: #32CD32;
}

html {
    font-size: calc(0.1rem + .8vw);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    border-radius: 10px;
    width: 7px;
}

/* Track */
*::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
  
/* Handle */
*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

main {
    background-color: var(--bg-main);
}

main > section {
    padding: 5%;
}

section.clearfix {
    padding: 3%;
}

a {
    text-decoration: none;
}

ul {
    margin-bottom: 0;
    list-style-type: none;
}

h1 {
    text-transform: uppercase;
}

h1, h2, a {
    font-family: "Larken";
}

*::selection {
    background: var(--secondary-color);
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*HEADER*/
.header {
    padding: 1rem 3%;
    width: 90%;
    background-color: white;
    border-radius: 50px;
    position: fixed;
    top: 25px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 4px 4px 0px #00000040;
    z-index: 3;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-logo a{
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
    transition: all .2s ease;
}

.header-menu li{
    transition: all .2s ease;
}

.header-menu a{
    list-style: none;
    font-size: 1.3rem;
    color: black;
    transition: color .2s ease;
}

.header-menu .active a {
    font-weight: bold;
    color: var(--secondary-color);
}

.contact-button {
    border-radius: 45px;
    font-weight: bold;
    display: inline-block;
}

.contact-button a {
    color: white;
    padding: 10px 20px;
    display: block;
    width: 100%;
    height: 100%;
}

.header-menu.principal li:hover a {
    color: var(--secondary-color);
}

.responsive-menu, .responsive-bars {
    display: none;
}



/*CONTENT*/
.content-hero {
    background-image: url('../images/stacked-waves-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding-left: 5%;
}

.content-hero > * {
    position: relative;
    z-index: 1;
}

.content-hero h1 {
    font-size: 4rem;
    color: white;
    font-weight: bold;
}

.content-hero h3 {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 2rem;
    color: white;
    width: 70%;
}

.contact-button {
    transition: all .2s ease;
    border: 3px solid var(--secondary-color);
}

.contact-button a{
    color: var(--secondary-color);
    font-size: 1.3rem;
}

.contact-button:hover{
    background-color: var(--secondary-color);
}

.contact-button:hover a{
    color: white;
}

.contact-button.hero {
    border: 3px solid white;
}

.contact-button.hero a{
    color: white;
}

.contact-button.hero:hover{
    background-color: white;
}

.contact-button.hero:hover a{
    color: var(--bg-main);
}

.contact-button.active {
    background-color: var(--secondary-color);
}

.contact-button.active a {
    color: white;
}

.contact-button.active:hover {
    background-color: transparent;
}

.contact-button.active:hover a {
    color: var(--secondary-color);
}

/* FOOTER */
.footer {
    padding: 5rem 5% 1rem 5%;
    background-image: url('../images/fondo-transparent-footer.svg'), url('../images/fondo-footer.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
    background-size: 110%, cover;
    max-width: 100vw;
    padding-bottom: 300px;
    margin-top: -1px;
}

.footer * {
    color: white;
}

.footer-call {
    font-size: 2rem;
    font-family: "Larken";
    text-transform: uppercase;
}

.footer-call span {
    font-style: italic;
    font-family: "Larken";
}

.footer-rrss {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-left: 0;
}

.footer-rrss i{
    font-size: 3rem;
    margin-top: 1rem;
}

.footer-copy {
    text-align: center;
    margin-top: .5rem;
}

.footer-rsss-twitter i{
    color: black;
}

.footer-rsss-insta i{
    color: #E1306C;
}

.footer-rsss-face i{
    color: #3b5998;
}

/*FEATURED INSTRUMENTS*/
.title {
    font-size: 4rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Larken";
}

.description {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    font-style: italic;
}

.card {
    border-radius: 40px;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.card:hover img {
    transform: scale(1.2);
}

.card-image {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 40px;
}
.card-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
    min-height: 100%;
    transition: all .2s ease;
}

.card-content {
    max-height: 40%;
    padding: .5rem 1rem;
}

.card-title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: "Larken";
}

.card-cat {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 3px 10px;
}

.card-desc {
    font-size: 1rem;
    text-align: center;
    opacity: .8;
    font-weight: bold;
}

.faq details {
    color: white;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.faq summary {
    border-bottom: 2px solid white;
    font-weight: bold;
}


.faq p {
    padding-left: 5%;
    margin-top: 2rem;
}

.cta {
    background-color: white;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    margin-top: 5%;
}

.cta-wrapper {
    z-index: 2;
    position: relative;
}

.cta-title {
    font-size: 4rem;
    font-family: "Larken";
    color: var(--secondary-color);
    margin-bottom: 1rem;
    width: 75%;
}

.cta-desc {
    font-size: 1.5rem;
    width: 60%;
    opacity: .8;
    font-weight: bold;
}

.cta-button {
    color: black;
    border-color: black;
    border-radius: 45px;
    font-weight: bold;
    display: inline-block;
    transition: all .2s ease;
    border: 3px solid var(--bg-main);
}

.cta-button a {
    color: var(--bg-main);
    font-size: 2rem;
    padding: 10px 20px;
    display: block;
    width: 100%;
    height: 100%;
}

.cta-button:hover {
    background-color: var(--bg-main);
}

.cta-button:hover a {
    color: white;
}

.cta-image {
    position: absolute;
    right: -30%;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 70%;
    z-index: 1;
}

/* WE ARE */
.weare-video {
    height: 70vh;
    padding: 0;
    overflow: hidden;
}

.weare-video video {
    object-fit: cover;
    min-height: 100%;
}

.team-gallery {
    border-radius: 40px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.team-gallery-item {
    height: 350px;
    position: relative;
    overflow: hidden;
}

.team-gallery-item:hover img {
    transform: scale(1.2);
}

.team-gallery-item:hover span {
    transform: translateY(-1rem);
}

.team-gallery-item:hover p {
    transform: translateY(-4rem);
}

.team-gallery-item img {
    width: 100%;
    object-fit: cover;
    min-height: 100%;
    transition: all .2s ease;
}

.team-gallery-item span {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-table;
    font-family: "Larken";
    text-transform: capitalize;
    font-size: 1.5rem;
    transition: all .2s ease;
}

.team-gallery-item p {
    position: absolute;
    bottom: -3rem;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-table;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 1rem;
    transition: all .2s ease;
}

.team-gallery-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
    45deg,
    hsl(5 97% 63% / 0.7) 0,
    hsl(5 97% 63% / 0) 100%
  );
  opacity: 0.3;
  transition: opacity .2s ease;
}

.team-gallery-item:hover::after {
    opacity: .6;
}

.our-story .title, .our-story .description {
    text-align: right;
}

.our-story-content .image {
    border-radius: 40px;
    overflow: hidden;
}

.our-story-content .image img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.our-story-content p{
    color: white;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

/* BREADCRUMBS */
.breadcrumbs {
    padding-bottom: 0;
}

.breadcrumbs ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    color: white;
    padding-left: 0;
}

.breadcrumbs li, .breadcrumbs a {
    color: white;
    font-family: "Montserrat";
    font-size: 1.5rem;
}

@keyframes circle {
    0% {r: 83.1579;}
    50% {r: 100;}
    100% {r: 83.1579;}
  }
  
circle {
    animation-name: circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* CONTACT */
.contact {
    height: 60vh;
}

.contact-map {
    border-radius: 40px;
    overflow: hidden;
}

.contact-map iframe {
    border-radius: 40px;
}

.contact-info {
    padding-left: 0;
    margin-top: 3rem;
}

.contact-info * {
    font-size: 1.5rem;
    color: white;
    font-weight: normal;
    font-family: "Montserrat";
    transition: all .2s ease;
}

.contact-info a:hover i {
    color: var(--secondary-color);
}

.contact-form form {
    width: 50vw;
    margin: 2rem auto;
}

.contact-form input:not(.contact-form-button, [type="radio"]), .contact-form textarea {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 40px;
    font-weight: bold;
    margin-bottom: 2rem;
    border: none;
    width: 100%;
    font-weight: normal;
    color: black;
}

.contact-form-button {
    all: unset;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-family: "Larken";
    transition: all .2s ease;
    border-radius: 45px;
    padding: 10px 20px;
    font-size: 1.3rem;
    text-align: center;
    margin: 0 auto;
}

.contact-form-button:hover {
    background-color: white;
    color: var(--bg-main);
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid white;
    margin-bottom: 2rem;
}

.radio-buttons {
    gap: 10px;
    margin-bottom: 2rem;

    span {
        font-size: 1rem;
        color: white;
        font-weight: bold;
    }

    label {
        font-size: 1rem;
        color: white;
        font-weight: bold;
    }

    select {
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 40px;
        font-weight: bold;
        border: none;
        font-weight: normal;
        color: black;
    }
}

fieldset label {
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

.formationEntry:not(:first-child) {
    margin-top: 20px;
}

.languageEntry:not(:first-child) {
    margin-top: 20px;
}

.work-form-button {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--secondary-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.plans-selector {
    gap: 1rem;
}

.plans-cards {
    margin-top: 100px;
    gap: 1rem;
}

.card-plan {
    border-radius: 40px;
    background-color: white;
    padding: 1.5rem;
    overflow: hidden;
    min-width: 25%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 6px 6px 0px #00000060;
    gap: 2rem;
    background-image: radial-gradient(circle at center center, rgba(214, 239, 255, 0.23), #feffff), repeating-radial-gradient(circle at center center, rgba(214, 239, 255, 0.23), rgba(214, 239, 255, 0.23), 32px, transparent 64px, transparent 32px);
    background-blend-mode: multiply;
    background-color: #feffff;
}

@media(min-width: 768px) {
    .card-plan:nth-of-type(2) {
        transform: scale(1.15);
        z-index: 1;
    }
}

.card-plan-title {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.green{
    color: var(--green);
}

.red{
    color: var(--secondary-color);
}

.blue{
    color: var(--blue);
}

.card-price {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.card-currency {
    position: absolute;
    top: .5rem;
    left: -25px;
    font-size: 2rem;
    font-weight: normal;
}

.card-money {
    font-size: 3.5rem;
    text-align: center;
}

.card-month {
    display: block;
    font-size: 2rem;
    margin-top: -20px;
    text-align: center;
}

.card-list {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    font-size: .8rem;
}

.card-plan-footer.blue {
    border-color: var(--blue);
    background-color: var(--blue);

    a {
        color: white;
    }

    &:hover {
        background-color: white;
        border-color: var(--blue);

        a {
            color: var(--blue);
        }
    }
}

.card-plan-footer.green {
    border-color: var(--green);
    background-color: var(--green);

    a {
        color: white;
    }

    &:hover {
        background-color: white;
        border-color: var(--green);

        a {
            color: var(--green);
        }
    }
}

.card-plan-footer.red {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);

    a {
        color: white;
    }

    &:hover {
        background-color: white;
        border-color: var(--secondary-color);

        a {
            color: var(--secondary-color);
        }
    }
}

.comparition-table {
    border-radius: 20px;
}

.comparition-table th, .comparition-table td {
    padding: 1rem 2rem;
    border-bottom: 1px solid #00000020;
}

.comparition-table th {
    font-family: "Larken";
    font-size: 1.5rem;
    font-weight: bold;
}

.fa-check {
    color: var(--green);
}

.fa-xmark {
    color: var(--secondary-color);
}

@media (min-width: 1700px) {
    .footer {
        padding-bottom: 500px;
    }

    .weare-video {
        height: 100vh;
    }

    .team-gallery-item {
        height: 400px;
        position: relative;
        overflow: hidden;
    }
}


@media (max-width: 1000px) {
    html {
        font-size: calc(0.4rem + 1vw);
    }

    .header-container-menu {
        display: none;
    }

    .responsive-bars {
        display: block;
        color: black;
        font-size: 1rem;
    }

    .responsive-bars input {
        display: none;
    }

    .responsive-bars label {
        color: black;
        font-size: 2rem;
        cursor: pointer;
    }

    .responsive-menu .header-menu{
        flex-direction: column;
        align-items: start;
        margin-top: 2rem;
        padding-left: 0;
    }

    .header {
        border-radius: 20px;
    }
    
    .content-hero h3 {
        font-size: 1.1rem;
        width: 100%;
    }

    .cta-image {
        left: 70%;
    }

    .team-gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    section.clearfix {
        padding: 7%;
    }

    .contact-form form {
        width: 100%;
    }

    .contact {
        height: auto;
    }

    .contact-map {
        height: 40vh;
        padding-top: 3rem;
    }

    .footer {
        padding-bottom: 400px;
    }
}

@media (max-width:768px) {

    .content-hero {
        height: 100vh;
    }

    .content-hero h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .content-hero h3 {
        text-align: center;
        margin: 0 auto 3rem auto;
    }

    .contact-button.hero {
        margin: 0 auto;
    }

    .card {
        height: 300px;
    }

    .card-title {
        font-size: 2rem;
    }

    .card-description {
        font-size: 1rem;
    }

    footer {
        padding-bottom: 180px;
    }

    .faq summary {
        font-size: 1.5rem;
    }

    .faq p {
        font-size: 1.3rem;
    }

    main > section {
        padding: 10% 5%;
    }

    .cta-title, .cta-desc {
        width: 100%;
    }

    .cta-title {
        font-size: 3.5rem;
    }

    .cta-image {
        display: none;
    }

    .weare-video {
        height: 40vh;
    }

    .team-gallery {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .team-gallery-item span {
        transform: translateY(-1rem);
    }

    .team-gallery-item p {
        transform: translateY(-4rem);
    }

    section.clearfix {
        padding: 10%;
    }

    .footer {
        padding-bottom: 300px;
    }

    .plans-cards {
        gap: 1rem;
        margin-top: 50px;
    }

    .card-plan {
        width: 100%;
    }
    
}